<!DOCTYPE html>

  <head>
    <title>Super Guitar Hero Chords</title>
    <!--include headers-->
    <!-- #include Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--finish #include Bootstrap-->
    <!--#include CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='StyleSheet.css') }}">
    <!--finish #include CSS-->
    <!--finish include headers-->

  </head>

  <body>
    <!--Start-->
    <div class = "container" >
    <!--Starting Bar-->
    <nav class="navbar navbar-inverse navbar-fixed-top navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{url_for('homepage')}}">Super Hero Guitar Hero</a>
        </div>
      </div>
    </nav>
    <!--Finishing Bar-->
  <!--Starting Login/Register-->
  <!--Copyrights-->
  <div class = "cp">
  <p>Robert Kostrov - Josh Gaming - Inc.</p>
  </div>
  <!--Finishing copyrights-->
  <!--Container ends here! don't code after it.-->  
  </div>
    <!--End-->
  </body>
